*{           
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: #72727266;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.1rem;
  /* font-size: 2rem; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px ;
  margin-bottom: 3rem;
}
header ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
ul li{
  list-style: none;
}

ul:nth-last-of-type(1){
  width: 50%;
}
.nav-link{
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
  font-weight: bold;
  color: rgb(235, 254, 226);
}
.nav-link:hover{
  color:#618631;
}
.nav-link:active{
  opacity: 0.5;
}
.close-btn{
  display: none;
}
ul li a.active{
  color: #618631;
  cursor: default;
} 
#humberger{
  display: none;
  cursor: pointer;
}

@media only screen and (max-width : 768px){
  .links{
    display: none;
  }
  #humberger{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .line{
    width: 25px;
    height: 3px;
    background-color: rgb(235, 254, 226);
  }
  .nav-links{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #727272fa;
    transition: top 0.3s ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 2rem 0;
    overflow: hidden;
  }
  .nav-links.active{
    top: 0;
    color: #618631; 
  }
  .nav-links .nav-link{
    color: rgb(235, 254, 226);
    font-size: 0.9rem;
    margin: 0.8rem 0;
  }
  .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: rgb(235, 254, 226);
    cursor: pointer;
    display: block;
  }
  .nav-links:not(.active) .close-btn{
    display: none;
  }
}