*{           
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: #72727266;
  position: sticky;
  font-weight: bold;
  font-size: 1.1rem;
  /* font-size: 2rem; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px ;
  margin-bottom: 3rem;
}
header ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
ul li{
  list-style: none;
}

ul:nth-last-of-type(1){
  width: 50%;
}
.nav-link{
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
  font-weight: bold;
  color: rgb(235, 254, 226);
}
.nav-link:hover{
  color:#618631;
}
.nav-link:active{
  opacity: 0.5;
}
ul li a.active{
 color: #618631;
 cursor: default;
} 
#humberger{
  display: none;
  cursor: pointer;
}

@media only screen and (max-width : 768px){
  .links{
    display: none;
  }
  #humberger{
    display: block;
  }
  .nav-links{
    position: fixed;
    right: -100%;
    top: 60%;
    background: orange;
    transition: 0.3s ease-in-out;
    flex-direction: column;
  }
  .nav-links.active{right: 0;}
}