<header>
  <ul class="brand">
    <li>
      <a href="/index.html" class="nav-link"> EyosiGames </a>
    </li>
  </ul>

  <ul class="nav-links">
    <li>
      <a href="/games/snake/snake.html" class="nav-link"> Snake </a>
    </li>
    <li>
      <a href="/games/space/space.html" class="nav-link"> Space_Invaders </a>
    </li>
    <li>
      <a href="/games/rps/rps.html" class="nav-link"> Rock_Papper_Scissor </a>
    </li>
    <div class="close-btn">&times;</div>
  </ul>

  <div id="humberger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</header>
