<header class="">
    <ul class="brand">
      <li>
        <a href="/index.html">
          EyosiGames
        </a>
      </li>
    </ul>
    
    <ul class="links">
      <li>
        <a href="/games/snake/snake.html">
          Snake
        </a>
      </li>
      <li>
        <a href="/games/space/space.html">
          Space Invaders
        </a>
      </li>
      <li>
        <a href="/games/rps/rps.html">
          Rock Papper Scissor
        </a>
      </li>
  </ul>

  <div id="humberger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  </header>